## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [2]:
import os
import numpy as np
import pandas as pd
from pandas import DataFrame

In [3]:
# 設定 data_path
dir_data = './data/'

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print('rows: ', app_train.shape[0])
print('columns: ', app_train.shape[1])

rows:  307511
columns:  122

#### 列出所有欄位

In [10]:
df = DataFrame(app_train)
print('content of columns: ', df.columns)

content of columns:  Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)
data frame info:  <bound method DataFrame.info of         SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0           24700.5             ...                             0
1           35698.5             ...                             0
2            6750.0             ...                             0
3           29686.5             ...                             0
4           21865.5             ...                             0
5           27517.5             ...                             0
6           41301.0             ...                             0
7           42075.0             ...                             0
8           33826.5             ...                             0
9           20250.0             ...                             0
10          21177.0             ...                             0
11          10678.5             ...                             0
12           5881.5             ...                             0
13          28966.5             ...                             0
14          32778.0             ...                             0
15          20160.0             ...                             0
16          26149.5             ...                             0
17          13500.0             ...                             0
18           7875.0             ...                             0
19          17563.5             ...                             0
20          21375.0             ...                             0
21          37561.5             ...                             0
22          32521.5             ...                             0
23          23850.0             ...                             0
24          12703.5             ...                             0
25          11074.5             ...                             0
26          27076.5             ...                             0
27          23827.5             ...                             0
28          57676.5             ...                             0
29           9000.0             ...                             0
...             ...             ...                           ...
307481      19975.5             ...                             0
307482      34969.5             ...                             0
307483      16479.0             ...                             0
307484      35617.5             ...                             0
307485       9000.0             ...                             0
307486      18283.5             ...                             0
307487      31473.0             ...                             0
307488      13351.5             ...                             0
307489      23089.5             ...                             0
307490       9148.5             ...                             0
307491      31522.5             ...                             0
307492      43443.0             ...                             0
307493      37678.5             ...                             0
307494      46858.5             ...                             0
307495      23773.5             ...                             0
307496      16875.0             ...                             0
307497      12028.5             ...                             0
307498      52168.5             ...                             0
307499      12694.5             ...                             0
307500      35982.0             ...                             0
307501      11871.0             ...                             0
307502      10620.0             ...                             0
307503      17770.5             ...                             0
307504      16096.5             ...                             0
307505      22050.0             ...                             0
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                     0                0                0
1                     0                0                0
2                     0                0                0
3                     0                0                0
4                     0                0                0
5                     0                0                0
6                     0                0                0
7                     0                0                0
8                     0                0                0
9                     0                0                0
10                    0                0                0
11                    0                0                0
12                    0                0                0
13                    0                0                0
14                    0                0                0
15                    0                0                0
16                    0                0                0
17                    0                0                0
18                    0                0                0
19                    0                0                0
20                    0                0                0
21                    0                0                0
22                    0                0                0
23                    0                0                0
24                    0                0                0
25                    0                0                0
26                    0                0                0
27                    0                0                0
28                    0                0                0
29                    0                0                0
...                 ...              ...              ...
307481                0                0                0
307482                0                0                0
307483                0                0                0
307484                0                0                0
307485                0                0                0
307486                0                0                0
307487                0                0                0
307488                0                0                0
307489                0                0                0
307490                0                0                0
307491                0                0                0
307492                0                0                0
307493                0                0                0
307494                0                0                0
307495                0                0                0
307496                0                0                0
307497                0                0                0
307498                0                0                0
307499                0                0                0
307500                0                0                0
307501                0                0                0
307502                0                0                0
307503                0                0                0
307504                0                0                0
307505                0                0                0
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             NaN                       NaN
4                             0.0                       0.0
5                             0.0                       0.0
6                             0.0                       0.0
7                             0.0                       0.0
8                             0.0                       0.0
9                             NaN                       NaN
10                            0.0                       0.0
11                            0.0                       0.0
12                            0.0                       0.0
13                            0.0                       0.0
14                            NaN                       NaN
15                            0.0                       0.0
16                            0.0                       0.0
17                            NaN                       NaN
18                            0.0                       0.0
19                            0.0                       0.0
20                            NaN                       NaN
21                            0.0                       0.0
22                            0.0                       0.0
23                            0.0                       0.0
24                            0.0                       0.0
25                            0.0                       0.0
26                            0.0                       0.0
27                            0.0                       0.0
28                            0.0                       0.0
29                            NaN                       NaN
...                           ...                       ...
307481                        0.0                       0.0
307482                        0.0                       0.0
307483                        0.0                       0.0
307484                        NaN                       NaN
307485                        0.0                       0.0
307486                        0.0                       0.0
307487                        0.0                       0.0
307488                        0.0                       0.0
307489                        0.0                       0.0
307490                        0.0                       0.0
307491                        0.0                       0.0
307492                        0.0                       0.0
307493                        0.0                       0.0
307494                        0.0                       0.0
307495                        0.0                       0.0
307496                        0.0                       0.0
307497                        0.0                       0.0
307498                        0.0                       0.0
307499                        0.0                       0.0
307500                        0.0                       0.0

#### 截取部分資料

In [31]:
print('info from top: ', app_train.head(3))
print('info from bottom: ', app_train.tail(3))
print('info from corner: ', app_train.iloc[:3, :3])

info from top:     SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0

[3 rows x 122 columns]
info from bottom:          SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[3 rows x 122 columns]
info from corner:     SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0      100002       1         Cash loans
1      100003       0         Cash loans
2      100004       0    Revolving loans

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

### 索引

In [8]:
# 獲取索引
df = DataFrame(app_train) 
print('index\(the row index\): ', df.index) # index (the row index)
print('the column index: ', df.columns) # the column index

# 索引的一些特性 
idx = df.index
print('index is_monotonic_increasing: ', idx.is_monotonic_increasing)
print('index is_monotonic_decreasing: ', idx.is_monotonic_decreasing)
print('index has_duplicates: ', idx.has_duplicates)
print('index nlevels: ', idx.nlevels)

# 索引的一些方法
print('get as numpy array: ', idx.values)
print('get as python list: ', idx.tolist)
print('change data type: ', idx.astype(dtype=float))
# print('check for equality: ', idx.equals(other_index)
print('min index: ', idx.min())
print('max index: ', idx.max())

index\(the row index\):  RangeIndex(start=0, stop=307511, step=1)
the column index:  Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)
index is_monotonic_increasing:  True
index is_monotonic_decreasing:  False
index has_duplicates:  False
index nlevels:  1
get as numpy array:  [     0      1      2 ... 307508 307509 307510]
get as python list:  <bound method RangeIndex.tolist of RangeIndex(start=0, stop=307511, step=1)>
change data type:  Float64Index([     0.0,      1.0,      2.0,      3.0,      4.0,      5.0,
                   6.0,      7.0,      8.0,      9.0,
              ...
              307501.0, 307502.0, 307503.0, 307504.0, 307505.0, 307506.0,
              307507.0, 307508.0, 307509.0, 307510.0],
             dtype='float64', length=307511)
min index:  0
max index:  307510

In [16]:
# 各類統計資訊
print('describe analytics: ', app_train.describe())

describe analytics:            SK_ID_CURR         TARGET   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000  307511.000000  307511.000000      3.075110e+05
mean   278180.518577       0.080729       0.417052      1.687979e+05
std    102790.175348       0.272419       0.722121      2.371231e+05
min    100002.000000       0.000000       0.000000      2.565000e+04
25%    189145.500000       0.000000       0.000000      1.125000e+05
50%    278202.000000       0.000000       0.000000      1.471500e+05
75%    367142.500000       0.000000       1.000000      2.025000e+05
max    456255.000000       1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE  \
count  3.075110e+05  307499.000000     3.072330e+05
mean   5.990260e+05   27108.573909     5.383962e+05
std    4.024908e+05   14493.737315     3.694465e+05
min    4.500000e+04    1615.500000     4.050000e+04
25%    2.700000e+05   16524.000000     2.385000e+05
50%    5.135310e+05   24903.000000     4.500000e+05
75%    8.086500e+05   34596.000000     6.795000e+05
max    4.050000e+06  258025.500000     4.050000e+06

       REGION_POPULATION_RELATIVE     DAYS_BIRTH  DAYS_EMPLOYED  \
count               307511.000000  307511.000000  307511.000000
mean                     0.020868  -16036.995067   63815.045904
std                      0.013831    4363.988632  141275.766519
min                      0.000290  -25229.000000  -17912.000000
25%                      0.010006  -19682.000000   -2760.000000
50%                      0.018850  -15750.000000   -1213.000000
75%                      0.028663  -12413.000000    -289.000000
max                      0.072508   -7489.000000  365243.000000

                  ...              FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
count             ...                 307511.000000     307511.000000
mean              ...                      0.008130          0.000595
std               ...                      0.089798          0.024387
min               ...                      0.000000          0.000000
25%               ...                      0.000000          0.000000
50%               ...                      0.000000          0.000000
75%               ...                      0.000000          0.000000
max               ...                      1.000000          1.000000

       FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
count     307511.000000     307511.000000               265992.000000
mean           0.000507          0.000335                    0.006402
std            0.022518          0.018299                    0.083849
min            0.000000          0.000000                    0.000000
25%            0.000000          0.000000                    0.000000
50%            0.000000          0.000000                    0.000000
75%            0.000000          0.000000                    0.000000
max            1.000000          1.000000                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              265992.000000               265992.000000
mean                    0.007000                    0.034362
std                     0.110757                    0.204685
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              265992.000000              265992.000000
mean                    0.267395                   0.265474
std                     0.916002                   0.794056
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               265992.000000
mean                     1.899974
std                      1.869295
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 106 columns]

In [29]:
# DataFrame index 的一些特性
(r_axe, c_axe) = df.axes
print('list row and col indexes: ', r_axe, c_axe)
print('is empty: ', df.empty)
print('n dim: ', df.ndim)
(r_shape, c_shape) = df.shape
print('shape: ', r_shape, c_shape)
print('row-count * column-count: ', df.size)
print('get a numpy array for df: ', df.values)

list row and col indexes:  RangeIndex(start=0, stop=307511, step=1) Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)
is empty:  False
n dim:  2
shape:  307511 122
row-count * column-count:  37516342
get a numpy array for df:  [[100002 1 'Cash loans' ... 0.0 0.0 1.0]
 [100003 0 'Cash loans' ... 0.0 0.0 0.0]
 [100004 0 'Revolving loans' ... 0.0 0.0 0.0]
 ...
 [456253 0 'Cash loans' ... 1.0 0.0 1.0]
 [456254 1 'Cash loans' ... 0.0 0.0 0.0]
 [456255 0 'Cash loans' ... 2.0 0.0 1.0]]
rank each col:          SK_ID_CURR    TARGET  NAME_CONTRACT_TYPE  CODE_GENDER  FLAG_OWN_CAR  \
0              1.0  295099.0            139116.5     254978.0      101462.5
1              2.0  141343.5            139116.5     101224.5      101462.5
2              3.0  141343.5            292872.0     254978.0      255218.0
3              4.0  141343.5            139116.5     101224.5      101462.5
4              5.0  141343.5            139116.5     254978.0      101462.5
5              6.0  141343.5            139116.5     254978.0      101462.5
6              7.0  141343.5            139116.5     101224.5      255218.0
7              8.0  141343.5            139116.5     254978.0      255218.0
8              9.0  141343.5            139116.5     101224.5      101462.5
9             10.0  141343.5            292872.0     254978.0      101462.5
10            11.0  141343.5            139116.5     101224.5      101462.5
11            12.0  141343.5            139116.5     101224.5      101462.5
12            13.0  141343.5            139116.5     101224.5      101462.5
13            14.0  141343.5            139116.5     254978.0      255218.0
14            15.0  141343.5            139116.5     101224.5      101462.5
15            16.0  141343.5            139116.5     254978.0      255218.0
16            17.0  141343.5            139116.5     254978.0      101462.5
17            18.0  141343.5            292872.0     101224.5      101462.5
18            19.0  141343.5            292872.0     101224.5      101462.5
19            20.0  141343.5            139116.5     101224.5      101462.5
20            21.0  141343.5            292872.0     254978.0      255218.0
21            22.0  141343.5            139116.5     101224.5      255218.0
22            23.0  141343.5            139116.5     101224.5      101462.5
23            24.0  141343.5            139116.5     101224.5      101462.5
24            25.0  141343.5            139116.5     254978.0      255218.0
25            26.0  141343.5            139116.5     101224.5      101462.5
26            27.0  295099.0            139116.5     101224.5      101462.5
27            28.0  141343.5            139116.5     254978.0      101462.5
28            29.0  141343.5            139116.5     254978.0      255218.0
29            30.0  141343.5            292872.0     254978.0      101462.5
...            ...       ...                 ...          ...           ...
307481    307482.0  295099.0            139116.5     254978.0      101462.5
307482    307483.0  141343.5            139116.5     101224.5      255218.0
307483    307484.0  141343.5            139116.5     101224.5      101462.5
307484    307485.0  141343.5            139116.5     101224.5      255218.0
307485    307486.0  141343.5            292872.0     101224.5      101462.5
307486    307487.0  141343.5            139116.5     101224.5      255218.0
307487    307488.0  141343.5            139116.5     254978.0      101462.5
307488    307489.0  141343.5            139116.5     101224.5      101462.5
307489    307490.0  295099.0            139116.5     101224.5      101462.5
307490    307491.0  141343.5            139116.5     254978.0      101462.5
307491    307492.0  141343.5            139116.5     254978.0      255218.0
307492    307493.0  141343.5            139116.5     254978.0      255218.0
307493    307494.0  141343.5            139116.5     101224.5      101462.5
307494    307495.0  141343.5            139116.5     254978.0      255218.0
307495    307496.0  141343.5            139116.5     254978.0      255218.0
307496    307497.0  141343.5            292872.0     101224.5      101462.5
307497    307498.0  141343.5            139116.5     101224.5      255218.0
307498    307499.0  141343.5            139116.5     254978.0      255218.0
307499    307500.0  141343.5            139116.5     101224.5      101462.5
307500    307501.0  141343.5            139116.5     101224.5      101462.5
307501    307502.0  141343.5            139116.5     101224.5      101462.5
307502    307503.0  141343.5            139116.5     101224.5      101462.5
307503    307504.0  141343.5            139116.5     101224.5      101462.5
307504    307505.0  141343.5            139116.5     101224.5      101462.5
307505    307506.0  141343.5            139116.5     101224.5      101462.5
307506    307507.0  141343.5            139116.5     254978.0      101462.5
307507    307508.0  141343.5            139116.5     101224.5      101462.5
307508    307509.0  141343.5            139116.5     101224.5      101462.5
307509    307510.0  295099.0            139116.5     101224.5      101462.5
307510    307511.0  141343.5            139116.5     101224.5      101462.5

        FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0              200855.5      107686.0          227803.0    119491.0
1               47100.0      107686.0          274937.0    288143.0
2              200855.5      107686.0           15693.0     13681.5
3              200855.5      107686.0          131552.5     92975.0
4              200855.5      107686.0          105305.5    153607.5
5              200855.5      107686.0           61855.0    144645.5
6              200855.5      245931.0          188492.0    299597.5
7              200855.5      107686.0          295952.0    297835.0
8              200855.5      107686.0           85069.0    260706.5
9              200855.5      107686.0          131552.5    118638.0
10             200855.5      245931.0           85069.0    192929.5
11             200855.5      107686.0             925.0     17570.5
12             200855.5      107686.0           15693.0      3447.0
13              47100.0      245931.0          250044.5    250260.5
14             200855.5      107686.0          217099.0    221420.5
15             200855.5      107686.0          169777.5     90747.5
16              47100.0      107686.0           68411.5    152803.0
17             200855.5      245931.0           30391.0     74801.0
18             200855.5      107686.0           85069.0     20824.0
19             200855.5      245931.0           46681.0    166205.0
20             200855.5      107686.0          131552.5    122486.5
21             200855.5      245931.0          227803.0    276708.0
22              47100.0      245931.0          303155.0    148317.0
23             200855.5      107686.0           33535.5     53949.5
24              47100.0      289865.0          131552.5     57798.0
25             200855.5      107686.0           46681.0     46163.5
26             200855.5      107686.0           85069.0    256012.0
27             200855.5      245931.0           85069.0    100118.0
28             200855.5      107686.0          274937.0    225843.5
29             200855.5      107686.0           46681.0     29533.5
...                 ...           ...               ...         ...
307481         200855.5      107686.0          250044.5     89474.0
307482         200855.5      107686.0          250044.5    149925.0
307483         200855.5      107686.0           61855.0     56309.5
307484          47100.0      107686.0          305258.5    169003.0
307485         200855.5      245931.0          274937.0     29533.5
307486         200855.5      245931.0          282914.5    108228.0
307487         200855.5      107686.0          101961.5    266242.5
307488          47100.0      107686.0          169777.5     13681.5
307489         200855.5      107686.0          250044.5    156868.0
307490         200855.5      107686.0           30391.0     13681.5
307491         200855.5      289865.0           46681.0    267956.5
307492         200855.5      107686.0          305811.0    300249.5
307493         200855.5      107686.0          131552.5    253501.0
307494          47100.0      245931.0          274937.0    142441.0
307495          47100.0      107686.0          203225.0    229559.5
307496          47100.0      107686.0          295952.0    102951.5
307497         200855.5      107686.0          203225.0     78479.0
307498         200855.5      107686.0          219389.5    289380.0
307499         200855.5      107686.0           30391.0     46163.5
307500         200855.5      107686.0          269069.0    288597.5
307501         200855.5      305098.0           30391.0     69773.0
307502         200855.5      245931.0           58966.0     46163.5
307503         200855.5      107686.0           85069.0    106327.0
307504         200855.5      107686.0          155882.5    101413.5
307505         200855.5      107686.0           85069.0     46163.5
307506          47100.0      107686.0          169777.5     62675.5
307507         200855.5      107686.0           22597.0     69773.0
307508         200855.5      107686.0          155882.5    204086.5
307509         200855.5      107686.0          188492.0    112109.5
307510          47100.0      107686.0          169777.5    199492.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0          151706.0             ...                      152506.0
1          236262.5             ...                      152506.0
2            5213.0             ...                      152506.0
3          195846.5             ...                      152506.0
4          122879.0             ...                      152506.0
5          180904.0             ...                      152506.0
6          262378.5             ...                      152506.0
7          264960.5             ...                      152506.0
8          226938.0             ...                      152506.0
9          108837.0             ...                      152506.0
10         116719.5             ...                      152506.0
11          28445.0             ...                      152506.0
12           2566.5             ...                      152506.0
13         190934.0             ...                      152506.0
14         220703.0             ...                      152506.0
15         107712.5             ...                      152506.0
16         165360.0             ...                      152506.0
17          50277.5             ...                      152506.0
18           9291.0             ...                      152506.0
19          86856.5             ...                      152506.0
20         118281.5             ...                      152506.0
21         246088.5             ...                      152506.0
22         218872.5             ...                      152506.0
23         143702.0             ...                      152506.0
24          42301.5             ...                      152506.0
25          30770.5             ...                      152506.0
26         177458.0             ...                      152506.0
27         143292.5             ...                      152506.0
28         297600.0             ...                      152506.0
29          16541.0             ...                      152506.0
...             ...             ...                           ...
307481     106122.5             ...                      152506.0
307482     232536.0             ...                      152506.0
307483      76461.5             ...                      152506.0
307484     235495.0             ...                      152506.0
307485      16541.0             ...                      152506.0
307486      93077.5             ...                      152506.0
307487     210408.5             ...                      152506.0
307488      46335.5             ...                      152506.0
307489     136347.5             ...                      152506.0
307490      20132.0             ...                      152506.0
307491     211249.0             ...                      152506.0
307492     269835.5             ...                      152506.0
307493     246813.0             ...                      152506.0
307494     279091.0             ...                      152506.0
307495     142260.0             ...                      152506.0
307496      80708.0             ...                      152506.0
307497      37489.0             ...                      152506.0
307498     290127.0             ...                      152506.0
307499      42167.5             ...                      152506.0
307500     237865.0             ...                      152506.0
307501      36419.5             ...                      152506.0
307502      28185.0             ...                      152506.0
307503      88642.5             ...                      152506.0
307504      72380.5             ...                      152506.0
307505     126872.0             ...                      152506.0
307506     181423.5             ...                      152506.0
307507      37143.5             ...                      152506.0
307508     198816.5             ...                      152506.0
307509     107966.0             ...                      152506.0
307510     284680.5             ...                      152506.0

        FLAG_DOCUMENT_19  FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  \
0               153664.5          153678.0          153704.5
1               153664.5          153678.0          153704.5
2               153664.5          153678.0          153704.5
3               153664.5          153678.0          153704.5
4               153664.5          153678.0          153704.5
5               153664.5          153678.0          153704.5
6               153664.5          153678.0          153704.5
7               153664.5          153678.0          153704.5
8               153664.5          153678.0          153704.5
9               153664.5          153678.0          153704.5
10              153664.5          153678.0          153704.5
11              153664.5          153678.0          153704.5
12              153664.5          153678.0          153704.5
13              153664.5          153678.0          153704.5
14              153664.5          153678.0          153704.5
15              153664.5          153678.0          153704.5
16              153664.5          153678.0          153704.5
17              153664.5          153678.0          153704.5
18              153664.5          153678.0          153704.5
19              153664.5          153678.0          153704.5
20              153664.5          153678.0          153704.5
21              153664.5          153678.0          153704.5
22              153664.5          153678.0          153704.5
23              153664.5          153678.0          153704.5
24              153664.5          153678.0          153704.5
25              153664.5          153678.0          153704.5
26              153664.5          153678.0          153704.5
27              153664.5          153678.0          153704.5
28              153664.5          153678.0          153704.5
29              153664.5          153678.0          153704.5
...                  ...               ...               ...
307481          153664.5          153678.0          153704.5
307482          153664.5          153678.0          153704.5
307483          153664.5          153678.0          153704.5
307484          153664.5          153678.0          153704.5
307485          153664.5          153678.0          153704.5
307486          153664.5          153678.0          153704.5
307487          153664.5          153678.0          153704.5
307488          153664.5          153678.0          153704.5
307489          153664.5          153678.0          153704.5
307490          153664.5          153678.0          153704.5
307491          153664.5          153678.0          153704.5
307492          153664.5          153678.0          153704.5
307493          153664.5          153678.0          153704.5
307494          153664.5          153678.0          153704.5
307495          153664.5          153678.0          153704.5
307496          153664.5          153678.0          153704.5
307497          153664.5          153678.0          153704.5
307498          153664.5          153678.0          153704.5
307499          153664.5          153678.0          153704.5
307500          153664.5          153678.0          153704.5
307501          153664.5          153678.0          153704.5
307502          153664.5          153678.0          153704.5
307503          153664.5          153678.0          153704.5
307504          153664.5          153678.0          153704.5
307505          153664.5          153678.0          153704.5
307506          153664.5          153678.0          153704.5
307507          153664.5          153678.0          153704.5
307508          153664.5          153678.0          153704.5
307509          153664.5          153678.0          153704.5
307510          153664.5          153678.0          153704.5

        AMT_REQ_CREDIT_BUREAU_HOUR  AMT_REQ_CREDIT_BUREAU_DAY  \
0                         132183.5                   132252.0
1                         132183.5                   132252.0
2                         132183.5                   132252.0
3                              NaN                        NaN
4                         132183.5                   132252.0
5                         132183.5                   132252.0
6                         132183.5                   132252.0
7                         132183.5                   132252.0
8                         132183.5                   132252.0
9                              NaN                        NaN
10                        132183.5                   132252.0
11                        132183.5                   132252.0
12                        132183.5                   132252.0
13                        132183.5                   132252.0
14                             NaN                        NaN
15                        132183.5                   132252.0
16                        132183.5                   132252.0
17                             NaN                        NaN
18                        132183.5                   132252.0
19                        132183.5                   132252.0
20                             NaN                        NaN
21                        132183.5                   132252.0
22                        132183.5                   132252.0
23                        132183.5                   132252.0
24                        132183.5                   132252.0
25                        132183.5                   132252.0
26                        132183.5                   132252.0
27                        132183.5                   132252.0
28                        132183.5                   132252.0
29                             NaN                        NaN
...                            ...                        ...
307481                    132183.5                   132252.0
307482                    132183.5                   132252.0
307483                    132183.5                   132252.0

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
0           24700.5             ...                             0
1           35698.5             ...                             0
2            6750.0             ...                             0
3           29686.5             ...                             0
4           21865.5             ...                             0
5           27517.5             ...                             0
6           41301.0             ...                             0
7           42075.0             ...                             0
8           33826.5             ...                             0
9           20250.0             ...                             0
10          21177.0             ...                             0
11          10678.5             ...                             0
12           5881.5             ...                             0
13          28966.5             ...                             0
14          32778.0             ...                             0
15          20160.0             ...                             0
16          26149.5             ...                             0
17          13500.0             ...                             0
18           7875.0             ...                             0
19          17563.5             ...                             0
20          21375.0             ...                             0
21          37561.5             ...                             0
22          32521.5             ...                             0
23          23850.0             ...                             0
24          12703.5             ...                             0
25          11074.5             ...                             0
26          27076.5             ...                             0
27          23827.5             ...                             0
28          57676.5             ...                             0
29           9000.0             ...                             0
...             ...             ...                           ...
307481      19975.5             ...                             0
307482      34969.5             ...                             0
307483      16479.0             ...                             0
307484      35617.5             ...                             0
307485       9000.0             ...                             0
307486      18283.5             ...                             0
307487      31473.0             ...                             0
307488      13351.5             ...                             0
307489      23089.5             ...                             0
307490       9148.5             ...                             0
307491      31522.5             ...                             0
307492      43443.0             ...                             0
307493      37678.5             ...                             0
307494      46858.5             ...                             0
307495      23773.5             ...                             0
307496      16875.0             ...                             0
307497      12028.5             ...                             0
307498      52168.5             ...                             0
307499      12694.5             ...                             0
307500      35982.0             ...                             0
307501      11871.0             ...                             0
307502      10620.0             ...                             0
307503      17770.5             ...                             0
307504      16096.5             ...                             0
307505      22050.0             ...                             0
307506      27558.0             ...                             0
307507      12001.5             ...                             0
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0                     0                0                0
1                     0                0                0
2                     0                0                0
3                     0                0                0
4                     0                0                0
5                     0                0                0
6                     0                0                0
7                     0                0                0
8                     0                0                0
9                     0                0                0
10                    0                0                0
11                    0                0                0
12                    0                0                0
13                    0                0                0
14                    0                0                0
15                    0                0                0
16                    0                0                0
17                    0                0                0
18                    0                0                0
19                    0                0                0
20                    0                0                0
21                    0                0                0
22                    0                0                0
23                    0                0                0
24                    0                0                0
25                    0                0                0
26                    0                0                0
27                    0                0                0
28                    0                0                0
29                    0                0                0
...                 ...              ...              ...
307481                0                0                0
307482                0                0                0
307483                0                0                0
307484                0                0                0
307485                0                0                0
307486                0                0                0
307487                0                0                0
307488                0                0                0
307489                0                0                0
307490                0                0                0
307491                0                0                0
307492                0                0                0
307493                0                0                0
307494                0                0                0
307495                0                0                0
307496                0                0                0
307497                0                0                0
307498                0                0                0
307499                0                0                0
307500                0                0                0
307501                0                0                0
307502                0                0                0
307503                0                0                0
307504                0                0                0
307505                0                0                0
307506                0                0                0
307507                0                0                0
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             NaN                       NaN
4                             0.0                       0.0
5                             0.0                       0.0
6                             0.0                       0.0
7                             0.0                       0.0
8                             0.0                       0.0
9                             NaN                       NaN
10                            0.0                       0.0
11                            0.0                       0.0
12                            0.0                       0.0
13                            0.0                       0.0
14                            NaN                       NaN
15                            0.0                       0.0
16                            0.0                       0.0
17                            NaN                       NaN
18                            0.0                       0.0
19                            0.0                       0.0
20                            NaN                       NaN
21                            0.0                       0.0
22                            0.0                       0.0
23                            0.0                       0.0
24                            0.0                       0.0
25                            0.0                       0.0
26                            0.0                       0.0
27                            0.0                       0.0
28                            0.0                       0.0
29                            NaN                       NaN
...                           ...                       ...
307481                        0.0                       0.0
307482                        0.0                       0.0
307483                        0.0                       0.0
307484                        NaN                       NaN
307485                        0.0                       0.0
307486                        0.0                       0.0
307487                        0.0                       0.0
307488                        0.0                       0.0
307489                        0.0                       0.0
307490                        0.0                       0.0
307491                        0.0                       0.0
307492                        0.0                       0.0
307493                        0.0                       0.0
307494                        0.0                       0.0
307495                        0.0                       0.0
307496                        0.0                       0.0
307497                        0.0                       0.0
307498                        0.0                       0.0
307499                        0.0                       0.0
307500                        0.0                       0.0
307501                        NaN                       NaN
307502                        0.0                       0.0
307503                        0.0                       0.0
307504                        NaN                       NaN
307505                        0.0                       0.0
307506                        NaN                       NaN
307507                        NaN                       NaN
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0


In [35]:
print('dataframe info: ', df.info())
print('dataframe describe: ', df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB
dataframe info:  None
dataframe describe:            SK_ID_CURR         TARGET   CNT_CHILDREN  AMT_INCOME_TOTAL  \
count  307511.000000  307511.000000  307511.000000      3.075110e+05
mean   278180.518577       0.080729       0.417052      1.687979e+05
std    102790.175348       0.272419       0.722121      2.371231e+05
min    100002.000000       0.000000       0.000000      2.565000e+04
25%    189145.500000       0.000000       0.000000      1.125000e+05
50%    278202.000000       0.000000       0.000000      1.471500e+05
75%    367142.500000       0.000000       1.000000      2.025000e+05
max    456255.000000       1.000000      19.000000      1.170000e+08

         AMT_CREDIT    AMT_ANNUITY  AMT_GOODS_PRICE  \
count  3.075110e+05  307499.000000     3.072330e+05
mean   5.990260e+05   27108.573909     5.383962e+05
std    4.024908e+05   14493.737315     3.694465e+05
min    4.500000e+04    1615.500000     4.050000e+04
25%    2.700000e+05   16524.000000     2.385000e+05
50%    5.135310e+05   24903.000000     4.500000e+05
75%    8.086500e+05   34596.000000     6.795000e+05
max    4.050000e+06  258025.500000     4.050000e+06

       REGION_POPULATION_RELATIVE     DAYS_BIRTH  DAYS_EMPLOYED  \
count               307511.000000  307511.000000  307511.000000
mean                     0.020868  -16036.995067   63815.045904
std                      0.013831    4363.988632  141275.766519
min                      0.000290  -25229.000000  -17912.000000
25%                      0.010006  -19682.000000   -2760.000000
50%                      0.018850  -15750.000000   -1213.000000
75%                      0.028663  -12413.000000    -289.000000
max                      0.072508   -7489.000000  365243.000000

                  ...              FLAG_DOCUMENT_18  FLAG_DOCUMENT_19  \
count             ...                 307511.000000     307511.000000
mean              ...                      0.008130          0.000595
std               ...                      0.089798          0.024387
min               ...                      0.000000          0.000000
25%               ...                      0.000000          0.000000
50%               ...                      0.000000          0.000000
75%               ...                      0.000000          0.000000
max               ...                      1.000000          1.000000

       FLAG_DOCUMENT_20  FLAG_DOCUMENT_21  AMT_REQ_CREDIT_BUREAU_HOUR  \
count     307511.000000     307511.000000               265992.000000
mean           0.000507          0.000335                    0.006402
std            0.022518          0.018299                    0.083849
min            0.000000          0.000000                    0.000000
25%            0.000000          0.000000                    0.000000
50%            0.000000          0.000000                    0.000000
75%            0.000000          0.000000                    0.000000
max            1.000000          1.000000                    4.000000

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
count              265992.000000               265992.000000
mean                    0.007000                    0.034362
std                     0.110757                    0.204685
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     9.000000                    8.000000

       AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
count              265992.000000              265992.000000
mean                    0.267395                   0.265474
std                     0.916002                   0.794056
min                     0.000000                   0.000000
25%                     0.000000                   0.000000
50%                     0.000000                   0.000000
75%                     0.000000                   0.000000
max                    27.000000                 261.000000

       AMT_REQ_CREDIT_BUREAU_YEAR
count               265992.000000
mean                     1.899974
std                      1.869295
min                      0.000000
25%                      0.000000
50%                      1.000000
75%                      3.000000
max                     25.000000

[8 rows x 106 columns]

In [36]:
print('dataframe head: ', df.head(3))
print('dataframe tail: ', df.tail(3))
print('dataframe corner: ', df.iloc[:3, :3])
# print('dataframe change type: ', df.astype(dtype=float))

dataframe head:     SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0

              ...              FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             ...                             0                0
1             ...                             0                0
2             ...                             0                0

  FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                0                0                        0.0
1                0                0                        0.0
2                0                0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                         0.0
1                       0.0                         0.0
2                       0.0                         0.0

   AMT_REQ_CREDIT_BUREAU_MON  AMT_REQ_CREDIT_BUREAU_QRT  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_YEAR
0                         1.0
1                         0.0
2                         0.0

[3 rows x 122 columns]
dataframe tail:          SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
307508               Y             0          153000.0    677664.0
307509               Y             0          171000.0    370107.0
307510               N             0          157500.0    675000.0

        AMT_ANNUITY             ...              FLAG_DOCUMENT_18  \
307508      29979.0             ...                             0
307509      20205.0             ...                             0
307510      49117.5             ...                             0

       FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
307508                0                0                0
307509                0                0                0
307510                0                0                0

       AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
307508                        1.0                       0.0
307509                        0.0                       0.0
307510                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
307508                         0.0                        1.0
307509                         0.0                        0.0
307510                         0.0                        2.0

        AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR
307508                        0.0                         1.0
307509                        0.0                         0.0
307510                        0.0                         1.0

[3 rows x 122 columns]
dataframe corner:     SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0      100002       1         Cash loans
1      100003       0         Cash loans
2      100004       0    Revolving loans

In [49]:
# 印出指定欄位
print(df['SK_ID_CURR'])
# print(df.SK_ID_CURR)

0         100002
1         100003
2         100004
3         100006
4         100007
5         100008
6         100009
7         100010
8         100011
9         100012
10        100014
11        100015
12        100016
13        100017
14        100018
15        100019
16        100020
17        100021
18        100022
19        100023
20        100024
21        100025
22        100026
23        100027
24        100029
25        100030
26        100031
27        100032
28        100033
29        100034
           ...
307481    456225
307482    456226
307483    456227
307484    456228
307485    456229
307486    456230
307487    456231
307488    456232
307489    456233
307490    456234
307491    456235
307492    456236
307493    456237
307494    456238
307495    456239
307496    456240
307497    456241
307498    456242
307499    456243
307500    456244
307501    456245
307502    456246
307503    456247
307504    456248
307505    456249
307506    456251
307507    456252
307508    456253
307509    456254
307510    456255
Name: SK_ID_CURR, Length: 307511, dtype: int64

In [44]:
# 添加新column
df['new_col'] = range(len(df))
df['new_col'] = np.repeat(np.nan, len(df))
df['random'] = np.random.rand(len(df))
df['index_as_col'] = df.index
print(df.head(3))

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0

       ...       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0      ...                      0                        0.0
1      ...                      0                        0.0
2      ...                      0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                        0.0
1                       0.0                        0.0
2                       0.0                        0.0

  AMT_REQ_CREDIT_BUREAU_MON AMT_REQ_CREDIT_BUREAU_QRT  \
0                       0.0                       0.0
1                       0.0                       0.0
2                       0.0                       0.0

   AMT_REQ_CREDIT_BUREAU_YEAR  new_col    random  index_as_col
0                         1.0      NaN  0.294677             0
1                         0.0      NaN  0.209667             1
2                         0.0      NaN  0.772305             2

[3 rows x 125 columns]

In [45]:
# 符合 >0 條件的保持原值，其他 =0
t = 'AMT_INCOME_TOTAL'
df[t] = df[t].where(df[t]>100000, other=0)
# df['d']=df['a'].where(df.b!=0,other=df.c)
print(df.head(3))

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0               0.0    135000.0       6750.0

       ...       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0      ...                      0                        0.0
1      ...                      0                        0.0
2      ...                      0                        0.0

  AMT_REQ_CREDIT_BUREAU_DAY AMT_REQ_CREDIT_BUREAU_WEEK  \
0                       0.0                        0.0
1                       0.0                        0.0
2                       0.0                        0.0

  AMT_REQ_CREDIT_BUREAU_MON AMT_REQ_CREDIT_BUREAU_QRT  \
0                       0.0                       0.0
1                       0.0                       0.0
2                       0.0                       0.0

   AMT_REQ_CREDIT_BUREAU_YEAR  new_col    random  index_as_col
0                         1.0      NaN  0.294677             0
1                         0.0      NaN  0.209667             1
2                         0.0      NaN  0.772305             2

[3 rows x 125 columns]

In [47]:
# 找出最大值、最小值
print('Find Max value', df['AMT_INCOME_TOTAL'].idxmax)
print('Find Min value', df['AMT_INCOME_TOTAL'].idxmin)

 <bound method Series.idxmax of 0         202500.0
1         270000.0
2              0.0
3         135000.0
4         121500.0
5              0.0
6         171000.0
7         360000.0
8         112500.0
9         135000.0
10        112500.0
11             0.0
12             0.0
13        225000.0
14        189000.0
15        157500.0
16        108000.0
17             0.0
18        112500.0
19             0.0
20        135000.0
21        202500.0
22        450000.0
23             0.0
24        135000.0
25             0.0
26        112500.0
27        112500.0
28        270000.0
29             0.0
            ...
307481    225000.0
307482    225000.0
307483         0.0
307484    540000.0
307485    270000.0
307486    292500.0
307487    117000.0
307488    157500.0
307489    225000.0
307490         0.0
307491         0.0
307492    585000.0
307493    135000.0
307494    270000.0
307495    180000.0
307496    360000.0
307497    180000.0
307498    198000.0
307499         0.0
307500    261000.0
307501         0.0
307502         0.0
307503    112500.0
307504    153000.0
307505    112500.0
307506    157500.0
307507         0.0
307508    153000.0
307509    171000.0
307510    157500.0
Name: AMT_INCOME_TOTAL, Length: 307511, dtype: float64>
 <bound method Series.idxmin of 0         202500.0
1         270000.0
2              0.0
3         135000.0
4         121500.0
5              0.0
6         171000.0
7         360000.0
8         112500.0
9         135000.0
10        112500.0
11             0.0
12             0.0
13        225000.0
14        189000.0
15        157500.0
16        108000.0
17             0.0
18        112500.0
19             0.0
20        135000.0
21        202500.0
22        450000.0
23             0.0
24        135000.0
25             0.0
26        112500.0
27        112500.0
28        270000.0
29             0.0
            ...
307481    225000.0
307482    225000.0
307483         0.0
307484    540000.0
307485    270000.0
307486    292500.0
307487    117000.0
307488    157500.0
307489    225000.0
307490         0.0
307491         0.0
307492    585000.0
307493    135000.0
307494    270000.0
307495    180000.0
307496    360000.0
307497    180000.0
307498    198000.0
307499         0.0
307500    261000.0
307501         0.0
307502         0.0
307503    112500.0
307504    153000.0
307505    112500.0
307506    157500.0
307507         0.0
307508    153000.0
307509    171000.0
307510    157500.0
Name: AMT_INCOME_TOTAL, Length: 307511, dtype: float64>