## 練習時間
參考 Day 12 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [1]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

### 之前做過的處理

In [2]:
# 設定 data_path
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
f_app_test = os.path.join(dir_data, 'application_test.csv')

app_train = pd.read_csv(f_app_train)
app_test = pd.read_csv(f_app_test)

from sklearn.preprocessing import LabelEncoder

# Create a label encoder object
le = LabelEncoder()
le_count = 0

# Iterate through the columns
for col in app_train:
    if app_train[col].dtype == 'object':
        # If 2 or fewer unique categories
        if len(list(app_train[col].unique())) <= 2:
            # Train on the training data
            le.fit(app_train[col])
            # Transform both training and testing data
            app_train[col] = le.transform(app_train[col])
            app_test[col] = le.transform(app_test[col])
            
            # Keep track of how many columns were label encoded
            le_count += 1
            
app_train = pd.get_dummies(app_train)
app_test = pd.get_dummies(app_test)

# Create an anomalous flag column
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)
# also apply to testing dataset
app_test['DAYS_EMPLOYED_ANOM'] = app_test["DAYS_EMPLOYED"] == 365243
app_test["DAYS_EMPLOYED"].replace({365243: np.nan}, inplace = True)

# absolute the value of DAYS_BIRTH
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])
app_test['DAYS_BIRTH'] = abs(app_test['DAYS_BIRTH'])

In [3]:
print(app_train['DAYS_BIRTH'].value_counts())

13749    43
13481    42
10020    41
18248    41
15771    40
10292    40
14267    39
13263    39
11664    39
14395    39
15042    38
14791    38
13788    38
13480    38
13634    38
13891    38
13584    38
15565    38
13217    37
15563    37
16257    37
14790    37
14890    37
16690    37
10107    37
12806    37
15048    37
15450    37
10192    37
11108    37
         ..
25067     1
8039      1
24916     1
25130     1
25032     1
24874     1
25173     1
25038     1
25164     1
25061     1
25036     1
24919     1
7868      1
24244     1
24585     1
7775      1
24407     1
25139     1
25169     1
25091     1
7997      1
25063     1
24860     1
24252     1
25116     1
7861      1
25017     1
25135     1
7856      1
24328     1
Name: DAYS_BIRTH, Length: 17460, dtype: int64

In [6]:
sub_train = pd.cut(app_train[~app_train['DAYS_BIRTH'].isnull()]['DAYS_BIRTH']/365, bins = 10) 
print(sub_train)

0         (25.378, 30.238]
1         (44.819, 49.679]
2          (49.679, 54.54]
3          (49.679, 54.54]
4            (54.54, 59.4]
5         (44.819, 49.679]
6         (35.099, 39.959]
7          (49.679, 54.54]
8            (54.54, 59.4]
9         (35.099, 39.959]
10        (25.378, 30.238]
11           (54.54, 59.4]
12        (35.099, 39.959]
13        (35.099, 39.959]
14        (35.099, 39.959]
15        (20.469, 25.378]
16        (35.099, 39.959]
17        (25.378, 30.238]
18        (44.819, 49.679]
19        (30.238, 35.099]
20         (49.679, 54.54]
21        (39.959, 44.819]
22        (30.238, 35.099]
23         (64.26, 69.121]
24        (30.238, 35.099]
25         (49.679, 54.54]
26         (49.679, 54.54]
27        (39.959, 44.819]
28        (25.378, 30.238]
29        (25.378, 30.238]
                ...
307481       (54.54, 59.4]
307482    (35.099, 39.959]
307483     (64.26, 69.121]
307484    (35.099, 39.959]
307485    (30.238, 35.099]
307486    (39.959, 44.819]
307487       (59.4, 64.26]
307488    (25.378, 30.238]
307489    (44.819, 49.679]
307490    (25.378, 30.238]
307491    (25.378, 30.238]
307492       (54.54, 59.4]
307493    (44.819, 49.679]
307494    (39.959, 44.819]
307495       (54.54, 59.4]
307496    (44.819, 49.679]
307497    (44.819, 49.679]
307498     (49.679, 54.54]
307499    (44.819, 49.679]
307500       (54.54, 59.4]
307501    (35.099, 39.959]
307502    (39.959, 44.819]
307503    (30.238, 35.099]
307504    (44.819, 49.679]
307505     (64.26, 69.121]
307506    (25.378, 30.238]
307507       (54.54, 59.4]
307508    (39.959, 44.819]
307509    (30.238, 35.099]
307510    (44.819, 49.679]
Name: DAYS_BIRTH, Length: 307511, dtype: category
Categories (10, interval[float64]): [(20.469, 25.378] < (25.378, 30.238] < (30.238, 35.099] < (35.099, 39.959] ... (49.679, 54.54] < (54.54, 59.4] < (59.4, 64.26] < (64.26, 69.121]]